<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="ok==true">ok</p>
        <p v-else-if></p>
        <p v-else="ok">not ok</p>
        <ul>
            <div v-for="fruit in fruits" :key="fruit">
                <p>{{fruit}}</p>
                <input type="text">
            </div>
        </ul>
        <button @click="remove">delete</button>
        <ul>
            <li v-for="fruit in fruits">{{fruit}}</li>
        </ul>
        <ul>
            <li v-for="(fruit,index) in fruits">({{index}}){{fruit}}</li>
        </ul>
        <ul>
            <li v-for="(value,key) in object">{{key}}-{{value}}</li>
        </ul>
        <ul>
            <template v-for="fruit in fruits">
                <li>{{fruit}}</li>
                <hr>
            </template>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            ok: true,
            fruits:['a','b','c'],
            object:{
                firstName:'太郎',
                lastname :'田中',
                age      :21
            },
        },
        computed:{
            
        },
        methods:{
            remove: function(){
                this.fruits.shift()
            }
        }
    })
</script>
</html>